.movieCard {
    list-style: none;
    font-size: 1.5rem;
    text-align: center;
}

.movieImg {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: azure;
}

@media screen and (max-width: 560px) {
    .movieImg {
        width: 100%;
        height: auto;
    }
}