.searchContainer {
  display: flex;
  justify-content: center;
}

.searchBox {
  position: relative;
}

.searchButton {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  height: 100%;
  border: none;
  background: none;
}

.searchInput {
  height: 30px;
  border-radius: 10px;
  -webkit-border-radius: ;
  -moz-border-radius: ;
  -ms-border-radius: ;
  -o-border-radius: ;
  padding: 5px 30px 5px 10px;
}
