.spinner {
  display: flex;
  justify-content: center;
  margin: 20px;
  padding-top: 10px;
}

.spinning {
  animation: spinner 1s linear;
  -webkit-animation: spinner 1s infinite linear;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
